
#content-table{
    margin-top: 70px;
    display: inline-block;
    width:1000px;
}
.form-control{
    resize: none;
    height: 300px;
    width: 500px;
    margin-top: 20px;
}

#trans-result{
    cursor: default;
}
.tokens{
    font-weight: bold;
    text-align: center;
    color: deepskyblue;
    background-color: whitesmoke;
    display: inline-block;
    line-height: 20px;
    border: 1px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
}
.footer{
   position: relative;
    top:400px;
}